# Database
# Only Postgres is supported, Docker DB too
# DATABASE_URL=postgresql+asyncpg://odoo_sync:odoo_sync@localhost:5432/odoo_sync
DATABASE_URL=postgresql+asyncpg://user:password@host:5432/dbname

# Odoo connection
ODOO_URL=https://your-company.odoo.com
ODOO_DB=your-odoo-db-name
ODOO_USERNAME=your@email
ODOO_PASSWORD=your-odoo-api-key