# Database
sqlalchemy[asyncio]==2.0.36
asyncpg==0.30.0
sqlmodel==0.0.22

# Configuration
pydantic==2.10.3
pydantic-settings==2.7.0

# Utilities
python-dotenv==1.0.1

# API
fastapi==0.116.0
uvicorn[standard]==0.34.0
mangum==0.17.0

# Testing
pytest==8.3.4
pytest-asyncio==0.24.0
pytest-mock==3.14.0
